[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BalancedSampling"]
	path = BalancedSampling
	url = https://github.com/envisim/balancedsampling
